body{
    background-color: #0d6efd;
    margin-left: 35%;
}
button{
    cursor: pointer;
    flex: 1 0 40px;
    background: #0d6efd;
}

.spinner{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

















/* .spinner{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 4px solid black;
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */